.footer-soc {
    margin-left: 70px;
}

.footer-soc__title {
    padding-top: 12px;
    margin-bottom: 20px;

    @include font (700, 14px);
    text-transform: uppercase;
    color: $color_secondary_text;
}

.soc__link--footer {
    background-color: $color_footer_link_bg;
}

.soc__icon--footer {
    fill: $color_footer_icon;
}