.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color_footer_bg;
}

.footer__wrap {
  // display: flex;

  @include point-desktop-min {
    display: inline-flex;
  }

}

.footer__top-wrap {
  @include point-tablet-min {
    display: flex;
  }


}

.footer-column__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }

  @include point-desktop-min {
    display: block;
  }
}

.footer-logo {
  color: $color_footer_logo;
}

.footer-address {
  @include point-desktop-max {
    margin-top: 20px;
  }

  @include point-desktop-min {
    margin-top: 20px;
  }

  font-style: normal;
  line-height: 1.7;
  color: $color_secondary_text;
}

.footer-contact__list {
  @include point-desktop-max {
    margin-top: 8px;
  }
}

.footer-contact__item:not(:first-child) {
  @include point-desktop-max {
    margin-top: 8px;
  }
}

.footer-contact__item {


  @include point-desktop-min {
    padding-top: 9px;
  }

}

.footer-contact__link {
  line-height: 1.7;
  color: $color_footer_text;
  transition: color 250ms $CubicBezier;

  &:hover,
  &:focus {
    color: $color_accent;
  }
}