.header-contacts {
  @include point-tablet-max {
    display: none;
  }

  @include point-desktop-min {
    display: flex;

  }
}

.header-contacts__list {
  display: flex;

  @include point-desktop-max {
    flex-direction: column;
  }
}

.header-contacts__item:not(:first-child) {

  @include point-desktop-max {
    margin-top: 10px;
  }

  @include point-desktop-min {
    margin-left: 50px;
  }

}

.header-contacts__link {
  display: block;

  @include font ($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.03em);

  color: $color_primary_text;

  transition: color 250ms $CubicBezier;

  &:hover,
  &:focus {
    color: $color_accent;
  }

  @include point-desktop-min {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__icon {
  fill: $color_primary_text;
  transition: fill 250ms $CubicBezier;

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: $color_accent;
  }
}

.header-contacts__text {
  margin-left: 10px;
}