.logo {
  @include font (700, 24px, 1.6);
  text-decoration: none;
  font-family: $font_logo;
  color: $color_loro;
  // padding-top: 16px;
  // padding-bottom: 16px;

  @include point-desktop-min {
    @include font (700, 26px, 1.19);
  }
}

.logo--colorize-black {
  color: $color_header_logo;
}