.logo {
  @include font (700, 24px, 1.6);
  text-decoration: none;
  font-family: $font_logo;
  color: $color_loro;

  @include point-desktop-min {
    @include font (700, 26px, 1.19);
  }
}

.logo--colorize-black {
  color: $color_header_logo;
}