// ---backdrop
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_modal_backdrop_bg;
  opacity: 1;
  transition: opacity 250ms $CubicBezier;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

//--- modal

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;

  border-radius: 4px;
  background-color: $color_primary_bg;

  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 250ms $CubicBezier;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0, 1.5);
    visibility: visible;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid $color_close_btn_border;
  fill: $color_close_btn;
  background-color: $color_primary_bg;

  cursor: pointer;

  transition: fill 250ms;

  &:hover {
    fill: $color_accent;
  }
}