.section__list {
  @include point-tablet-min {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}



.examples__item {
  margin-top: 30px;

  @include point-tablet-min {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @include point-desktop-min {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms $CubicBezier;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__img {
  @include point-mobile-max {
    width: 100%;
  }
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: scroll;

  background-color: $color_overlay_bg;
  transform: translateY(100%);
  transition: transform 250ms $CubicBezier;

  .examples__link:hover &,
  .examples__link:focus & {
    transform: translateY(0);
  }


}

.examples__text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;

  padding-left: 24px;
  padding-right: 24px;

  transform: translate(-50%, -50%);
  @include font (null, 18px, 1.65);
  color: $color_secondary_text;
}

.examples__meta {
  border: 1px $color-examples-border;
  border-style: none solid solid solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: $color_primary_bg;
}

.examples__subtitle {
  @include font (700, 18px, 2, 0.06em);
  color: $color_title;
}

.examples__type {
  margin-top: 4px;
  @include font ($fw: 400, $fs: 16px, $lh: 1.8);
  color: $color_primary_text;
}