.filter__list {
  display: flex;
  justify-content: center;
}

.filter__button {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  font-family: $font_primary;
  @include font (500, 16px, 1.6);
  text-align: center;

  background-color: $color_filter_btn;

  transition: background-color 250ms $CubicBezier,
    color 250ms $CubicBezier, box-shadow 250ms $CubicBezier;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $color_secondary_text;
    background-color: $color_filter_btn_hover;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__iteam:not(:first-child) {
  margin-left: 8px;
}