.section {
  @extend %section;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__list {
  margin-top: 30px;

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }


}