.section {
  @extend %section;

  @include point-desktop-min {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__list {
  margin-top: 30px;

  @include point-desktop-min {
    margin-top: 50px;
  }


}