.soc {
  display: flex;
  justify-content: center;
}

.soc__item:not(:first-child) {
  margin-left: 10px;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_primary_bg;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $CubicBezier;

  &:hover,
  &:focus {
    background-color: $color_accent;
  }
}

// ---------------
.soc__icon {
  fill: $color_primary_icons;
  transition: fill 250ms $CubicBezier;

  .soc__link:hover &,
  .soc__link:focus & {
    fill: $color_primary_bg;
  }
}